table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: justify;
    padding: 7px 15px;
    font-size: 13px;
    
    
  }

  table > th > tr> td {
    max-width: 25% !important;
  }

  table, th, td{
    border-radius: 10px !important;
   
  }