.datatable-responsive-demo .MuiTable-root {
    border: none;
}

.MuiTableHead-root {
    color: #FDFDFD;
    font-weight: 500 !important;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px 8px 0 0;
    border-radius: 10px;
}

.MuiTableCell-root {
  
    color: #FDFDFD;
    text-align: start;
    font-weight: 600;
    padding: 10px;
}

.MuiTableBody-root .MuiTableCell-root {
    text-align: center;
    padding: 10px;
    color: #333333;
    font-weight: 500;
}

.MuiTableRow-root {
    background: white;
    margin-top: 13px;
    /* Add margin between rows */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    /* Add shadow instead of border */
}

.MuiTableRow-root:hover {
    background: #f1f1f1;
}
