.switch-checkbox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  transition: 0.4s;
  border-radius: 50%;
}

/* Default theme: Navy background, white knob */
.switch-checkbox.default .slider {
  background-color:  #1B004A;
}

.switch-checkbox.default .slider:before {
  background-color: white;
}

.switch-checkbox.default input:checked + .slider {
  background-color: #1B004A;
}

.switch-checkbox.default input:checked + .slider:before {
  transform: translateX(22px);
  background-color: white;
}

/* Alternate theme: White background, navy knob */
.switch-checkbox.alternate .slider {
  background-color: #ffffff;
}

.switch-checkbox.alternate .slider:before {
  background-color: #1B004A;
}

.switch-checkbox.alternate input:checked + .slider {
  background-color: white;
}

.switch-checkbox.alternate input:checked + .slider:before {
  transform: translateX(22px);
  background-color: #1B004A;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
